# Systemd service file for label-studio daemon 

[Unit]
Description=label-studio daemon service for ubuntu user
After=syslog.target network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="POSTGRE_NAME=postgres"
Environment="POSTGRE_USER=postgres"
Environment="POSTGRE_PASSWORD=postgres"
Environment="POSTGRE_PORT=5432"
Environment="DJANGO_DB=default"
Environment="LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=true"

ExecStart=/home/ubuntu/.local/bin/label-studio start --username admin@admin.com --password admin --port 8001
ExecReload=/bin/kill -HUP $MAINPID

KillMode=process
Restart=always

[Install]
WantedBy=default.target
