# Systemd service file for label-studio daemon 

[Unit]
Description=label-studio daemon service for ubuntu user
After=syslog.target network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="POSTGRE_NAME=postgres"
Environment="POSTGRE_USER=postgres"
Environment="POSTGRE_PASSWORD=postgres"
Environment="POSTGRE_PORT=5432"
Environment="DJANGO_DB=default"

ExecStart=/home/ubuntu/anaconda3/envs/label/bin/python /home/ubuntu/label-studio/label_studio/manage.py runserver 0.0.0.0:8001
ExecReload=/bin/kill -HUP $MAINPID

KillMode=process
Restart=always

[Install]
WantedBy=default.target
